.Main_Nav_bar {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  background-color: lightgray;
  /* color: navy; */
  display: flex;
  align-items: center;
  }
  
  .generosity-3 {
    display: flex;
  }

  .center1 {
    display: flex;
    flex: 1;
    justify-content: center;
  }
  .left1 {
    display: flex;
    flex: 1;
    justify-content: flex-start;
  }
  .left3{
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .left2{
    display: flex;
    flex: 1;
    justify-content: center;
  }

  .right3{
  height: 50px;
  width: 50px;
  background-color:springgreen;
  border-radius: 50%;
  }


  /* .7 {
    
  } */


.App-Radiant {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  /* background-color: hotpink; */
  /* color: navy; */
}

.div {
  /* height: 50px; */
  /* width: 50px; */
  /* background-color: lightgray; */
  /* border-radius: 50%; */
  /* display: flex; */
}








