/* * {
  border: 1px solid red;
} */

.header {
  border-top: 9px solid gold;
  height: 90px;
  background-color: royalblue;
  display: flex;
  align-items: center;
  border-left: 9px solid gold;
  border-right: 9px solid gold;
}

.left1 {
  display: flex;
  justify-content: center;
}
.left2 {
  height: 90px;
  width: 90px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* justify-content: center; */
  /* border-left: 6px solid gold;
  border-right: 6px solid gold; */
}

/* .bar1 {
  border-top: 3px solid red;
  border-bottom: 3px solid red;
  width: 45px;
  height: 18px;
  background-color: yellow;
  margin: 0px 0;
  transition: 0.4s;
} */
.bar2 {
  border-top: 18px solid white;
  border-bottom: 18px solid white;
  border-left: 18px solid white;
  border-right: 18px solid white;
  width: 18px;
  height: 18px;
  background-color: springgreen;
  border-radius: 60%;
  margin: 0px 0;
  transition: 0.4s;
}

.left3 {
  display: grid;
  justify-content: center;
  flex: 1;
}

.center1 {
  display: flex;
  justify-content: flex-start;
  flex: 1;
}

.generosity-3 {
  display: flex;
  justify-content: center;
  flex: 1;
}

.Mission {
  height: 100px;
  color: royalblue;
  display: flex;
  justify-content: space-around;
  background-color: silver;
  /* padding-left: 45px;
  padding-right: 45px;
  padding-top: 0px;
  padding-bottom: 9px; */
  border-left: 9px solid gold;
  border-right: 9px solid gold;
  border-top: 9px solid red;
  border-bottom: 9px solid Gold;
}
.Links {
  display: grid;
  justify-content: flex-start;
}
.First_raw {
  display: flex;
  justify-content: space-between;
}
.Second_raw {
  display: flex;
  justify-content: space-between;
}
.Third_raw {
  display: flex;
  justify-content: space-between;
}

.Forth_raw {
  display: flex;
  justify-content: space-between;
}

.content {
  border-left: 9px solid Gold;
  width: 600px;
  height: 100px;
}

.r {
  padding-top: 0px;
  padding-left: 30px;
}
.Name {
  color: aliceblue;
  text-decoration: none;
}

.right3 {
  /* height: 9px;
  width: 9px;
  color: gold; */
  display: flex;
  justify-content: center;
  border-left: 27px solid silver;
  border-right: 27px solid salmon;
  border-top: 27px solid olive;
  border-bottom: 27px solid gold;
  border-style: groove;
  /* border-style: ridge; */
  border-radius: 18%;
}

.footer {
  display: flex;
  justify-content: center;
  background-color: silver;
}
