.header {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  background-color: lightgray;
  /* color: navy; */
  display: flex;
  flex: 1;
  align-items: center;
}

.generosity0 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.generosity-1 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.generosity-2 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.generosity-3 {
  /* display: flex; */
  /* justify-content: center; */
  /* flex: 9.09%; */
}

.center1 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}
.left1 {
  display: flex;
  justify-content: flex-start;
  flex: 9.09%;
}
.left3 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.left2 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.right3 {
  height: 50px;
  width: 50px;
  background-color: springgreen;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right2 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.right1 {
  display: flex;
  justify-content: center;
  flex: 9.09%;
}

.eye {
  font-size: 33px !important;
  color: chocolate;
}

/* .7 {
    
  } */

.App-Radiant {
  /* display: flex; */
  /* justify-content: center; */
  /* text-align: center; */
  /* background-color: hotpink; */
  /* color: navy; */
}

.div {
  /* height: 50px; */
  /* width: 50px; */
  /* background-color: lightgray; */
  /* border-radius: 50%; */
  /* display: flex; */
}

.body {
  background-color: whitesmoke;
}

.footer {
  background-color: lightgray;
}
